{% extends "dispersal/base.html" %}
{% load static %}

{% block content %}

<!-- <h1 style="padding:20px 20px 20px 40px;"> Welcome to the index page. </h1> -->
<h1> Risk model of Stem Rust Aeciospore Dispersal </h1>
<div class="form-row">
    <div class="form-group col-md-2 mb-0">
    </div>
    <div class="form-group col-md-10 mb-0">
        <img style="padding:20px 0px 20px 0px;" src="{% static 'images/ModelTobin.png' %}" alt="Results" class='img-barberry'>
    </div>
</div>
<div class="form-row" style="padding:20px 0px 20px 0px;  text-align: justify;">
    <div class="form-group col-md-6 mb-0">

        <h4>How do we model aeciospore dispersal modelled? </h4>
        <p> A <a href="https://www.researchgate.net/profile/Adel_Abdel-Rahman3/publication/265989872_ON_THE_ATMOSPHERIC_DISPERSION_AND_GAUSSIAN_PLUME_MODEL/links/57f81f9208ae886b89836658/ON-THE-ATMOSPHERIC-DISPERSION-AND-GAUSSIAN-PLUME-MODEL.pdf">Gaussian Plume Model (GPM)</a>
             is used here to determine how far aeciospores would likely
            travel from a <i>Berberis</i> bush infected with stem rust. The model produces projection probabilities to show
            the density of aeciospores that would likely reach certain distances from an infected <i>Berberis</i> bush under current environmental conditions.
            This information can then be used to help guide monitoring of <i>Berberis</i> bushes and neighbouring cereal
            crops for stem rust infection.
        </p>

        <h4>What are the key factors in the GPM?  </h4>
        <ol><b><li>Source Strength. </b> This is an estimation of the number of aeciospores that could be released from an infected  <i>Berberis</i> bush.
            These have been approximated at different intensities of infection based on research at the John Innes Centre.</li>
            <b><li>Shape of the Plume. </b> This describes how the 'cloud of aeciospores' that are released from an infected  <i>Berberis</i> bush may behave.</li>
        </ol>

        <h4>What affects the shape of the plume?  </h4>
         The plume shape is dependent on environmental conditions at the given location at the time of running the model.
         This includes:
        <li>Irradiance from the sun</li>
        <li>Percentage of cloud cover</li>
        <li>Wind speed</li>

        <h4>How do these factors affect the shape of the plume?  </h4>
        <p>The plume can be:
            <ol>
                <b><li>Unstable.</b> When wind speed is low and Irradiance is high (summer conditions).</li>
                <b><li>Neutral.</b> When it is cloudy and wind speed is high.</li>
                <b><li>Stable.</b> When the sky is clear and wind speed is low (at night - no solar radiation).</li>
            </ol>
        </p>
        </div>
    <div class="form-group col-md-6 mb-0">
        <img src="{% static 'images/stabilityclasses.png' %}" alt="Results" class='img-barberry'>
    </div>
</div>
<div class="form-row">

</div>
<h4> To run the model click  <a href="{% url 'run' %}">HERE</a> </h4>


{% endblock %}
