{% extends "dispersal/base.html" %}
{% load static %}

{% block content %}

<h1> Contact us </h1>

<div class="form-row" style="padding:20px 0px 20px 0px;  text-align: justify;">
    <div class="form-group col-md-10 mb-0">
<p> The aeciospore dispersal model for <i>Puccinia graminis</i> was created by
 <a href="https://github.com/vbuens">Vanessa Bueno Sancho </a> at the <a href="https://www.jic.ac.uk/">John Innes Centre</a>.</p>
 <p>For further information or questions about the model or website, please contact <a href="https://www.jic.ac.uk/people/diane-saunders/">Dr. Diane Saunders.</a> </p>
 </div>
</div>
 {% endblock %}
