{% extends "dispersal/base.html" %}
{% load static %}

{% block content %}

<!-- <h1> Welcome to the index page </h1> -->
<h1> Stem rust </h1>
<div class="form-row" style="padding:20px 20px 20px 0px; "">
    <div class="form-group col-md-6 mb-0" style="padding:0px 20px 20px 0px; text-align: justify;">
        <p>Stem rust is called the “polio of agriculture” due to the serious damage it can inflict on small grain
        crops such as wheat and barley, leading to complete crop loss if left untreated. The disease is caused by a fungus called
        <i>Puccinia graminis</i> that spreads between crop plants by creating thousands
        of spores (called urediniospores) that blow on the wind to start new infections. In this case, each urediniospore is
        a clone and closely resembles the original fungal strain, with all its features.
        </p>
        <h4>What is the role of <i>Berberis</i>? </h4>
        <p>
        Once these crops start to mature in the late summer, in colder climates like the UK the
        fungus enters a dormant state on plant debris. When it awakes in the spring it then infects a
        different unrelated plant called <i>Berberis</i>. This shrub can occur
        in hedgerows alongside cereal crop fields and is where the fungus completes sexual reproduction. When it does
        this, it shuffles genetic material between two strains and makes new genetic combinations.
        </p>
        <p>
        These new fungal strains are different to the original ones and
        may have new characteristics such as being able to infect previously resistant crop varieties. Once
        this stage is complete, the fungus then creates a new type of spore (called aeciospores) that spreads
        these new strains into neighbouring cereal crop fields to continue the infection cycle.
        </p>
        <h4>How can mathematical modelling help?</h4>
        <p>
        The crucial role of <i>Berberis</i> plants for the stem rust lifecycle historically led to their
        removal in Europe and northern USA, particularly the removal of <i>B. vulgaris</i> (common barberry) that is
        very susceptible to stem rust infection. Today, as we currently have limited reports of stem rust infection on important
        cereal crops like wheat in the UK each year, we can be more strategic and use spore dispersal modelling to work out which
        <i>Berberis</i> bushes need careful monitoring.
        </p>
        <p>
        This is where mathematical modelling can help. We can use maths to determine the likely distance
        spores can travel on the wind from an infected <i>Berberis</i> bush, and thereby the risk those bushes pose
        as sources of infection for cereal crops in the area. As the spores that are created on <i>Berberis</i> bushes
        blow on the wind to infect neighbouring cereal plants, environmental factors such as wind speed are also important
        for the model.
        </p>
        <p>
        As stem rust of wheat is starting to <a href=" https://www.nature.com/articles/s42003-019-0294-9">re-emerge as a problem in western Europe</a> it is vital that we
        develop a map of where high-risk bushes occur so they can be checked for infection and monitored as
        this fungus continues to increase in concern in the UK.
        </p>
        <p>
            Find out more about how this model works <a href="/dispersal/about">HERE</a>
        </p>
    </div>
    <div class="form-group col-md-6 mb-0" style="padding:20px 0px 20px 0px;">
        <img src="{% static 'images/barberry.png' %}" alt="Infected Barberry" class="img-barberry">
    </div>
</div>


<h4> To run the model, click <a href="{% url 'run' %}">HERE</a></h4>

{% endblock %}
