{% extends "dispersal/base.html" %}
{% load static %}

{% block content %}

<!-- <h1> Welcome to the index page </h1> -->
<h1> Stem rust of wheat </h1>
<div class="form-row" style="padding:20px 20px 20px 0px; "">
    <div class="form-group col-md-6 mb-0" style="padding:0px 20px 20px 0px; text-align: justify;">
        <p>Stem rust is known as the “polio of agriculture” due to the severe damage it can inflict on wheat
        crops leading to complete crop loss if left untreated. The disease is caused by a fungus called
        <i>Puccinia graminis</i> f. sp. <i>tritici</i> that spreads between wheat plants by creating thousands
        of spores (called urediniospores) that blow on the wind to start new infections. Each spore that is
        created is a clone and thereby closely resembles the original fungal strain, with all its features.
        </p>
        <h4>What is the role of <i>Berberis</i>? </h4>
        <p>
        Once wheat starts to mature at the end of the growing season in colder climates like the UK the
        fungus enters a dormant state on plant debris in the field to enable it to survive over the winter.
        When it awakes in the spring it then infects a different plant called <i>Berberis</i>. This shrub can occur
        in hedgerows alongside wheat fields and is where the fungus undergoes sexual reproduction. When it does
        this, it shuffles genetic material between two strains and makes new genetic combinations.
        </p>
        <p>
        These new fungal strains that are created on <i>Berberis</i> plants are different to the original ones and
        may have new characteristics such as being able to infect previously resistant wheat varieties. Once
        this stage is complete, the fungus then creates a new type of spore (called aeciospores) that spreads
        these new strains into neighbouring wheat fields to once again start infection in wheat crops.
        </p>
        <h4>How can mathematical modelling help?</h4>
        <p>
        The crucial role of <i>Berberis</i> plants in creating new strains of the fungus historically led to their
        removal in Europe and northern USA, particularly the removal of <i>B. vulgaris</i> (common barberry) that is
        very susceptible to stem rust infection. Today, with limited reports of stem rust infecting wheat in
        the UK we can be more strategic and use spore dispersal modelling to work out which <i>Berberis</i> bushes
        could harbour the stem rust pathogen and need careful monitoring.
        </p>
        <p>
        This is where mathematical modelling can help. We can use maths to determine the likely distance
        spores can travel on the wind from an infected <i>Berberis</i> bush, and thereby the risk those bushes pose
        as sources of infection for wheat crops in the area. As the spores that are created on <i>Berberis</i> bushes
        blow on the wind to infect wheat plants, environmental factors such as wind speed are also important
        for the model.
        </p>
        <p>
        As stem rust of wheat is re-emerging as a disease of concern in western Europe it is vital that we
        develop a map of where high risk bushes occur so they can be checked for infection and monitored as
        this fungus increases in concern in the UK.
        </p>
        <p>
            To find out more about how this model works, please <a href="/dispersal/about">click here</a>
        </p>
    </div>
    <div class="form-group col-md-6 mb-0" style="padding:20px 0px 20px 0px;">
        <img src="{% static 'images/barberry.png' %}" alt="Infected Barberry" class="img-barberry">
    </div>
</div>


<h4> Please, go to the following page to run the model </h4>
<a href="{% url 'run' %}">Go to model</a>

{% endblock %}
