{% extends "dispersal/base.html" %}

{% block content %}
{% load crispy_forms_tags %}
{% load static %}

    <script>
        function myFunction(){
            var x = document.getElementById("weather");
            if (x.style.display == "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <div>
    	<h2> Executing the aeciospore dispersal model</h2>
    	Please, input the following values and click submit
    </div>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="results" method="post" id="ModelForm">
	{% csrf_token %}

    {{ form.non_field_errors }}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors}}
        {{ hidden_field }}
    {% endfor %}
    <h3>Essential parameters </h3>
    <h4>1. Location of <i>Berberis</i> bush</h4>
    <p>This will collect weather data at the current time from the given location.</p>
    <div class="form-row form-group">
        <div class="form-group col-md-2 mb-0">
            {{ form.lat | as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.NS | as_crispy_field }}
        </div>
        <div class="form-group col-md-2 mb-0">
            {{ form.lon | as_crispy_field }}
        </div>
        <div class="form-group col-md-3 mb-0">
            {{ form.WE | as_crispy_field }}
        </div>
    </div>

    <h4>2. Overall infection level of the <i>Berberis</i> bush</h4>
    <div class="form-row">
        <strong>Percentage of Leaf Infected</strong>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-0">
            <script>
                function leafimg(){
                    leafpercentage = document.getElementById("myRange-leaf").value;
                    var img = document.getElementById("img-leaf");
                    // alert(d);
                    if (leafpercentage == "0.54") {
                        img.setAttribute("src","{% static 'images/LeafLow.png' %}") ;
                    } else if(leafpercentage == "1.82") {
                        img.setAttribute("src","{% static 'images/LeafMedium.png' %}") ;
                    } else if(leafpercentage == "5.26") {
                        img.setAttribute("src","{% static 'images/LeafHigh.png' %}") ;
                    } else {
                        img.setAttribute("src","{% static 'images/LeafVeryhigh.png' %}") ;
                    }
                }
            </script>

            <select name="leafperc" class="form-control" id="myRange-leaf" onchange="leafimg()" multiple>
            {% for val, name in form.fields.leafperc.choices %}
                <option name="leafperc" value="{{val}}">{{name}}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-3 mb-0">
            <img src="{% static 'images/LeafLow.png' %}" alt="leaf" id="img-leaf" class="img-leaf">
        </div>

        <div class="slidecontainer col-md-3 mb-0">
            <strong>Percentage of Bush Infected</strong>
            <input type="range" min="1" max="100" value="1" class="slider-bush"
            id="bush" name="bushperc">
            <p>Value: <span id="bushvalue"></span>%</p>
        </div>
        <div class="form-group col-md-3 mb-0">
            <img src="{% static 'images/bush1.png' %}" alt="bush" id="img-bush" class="img-bush">
            <script>
                var sliderbush = document.getElementById("bush");
                var outputbush = document.getElementById("bushvalue");
                outputbush.innerHTML = sliderbush.value;

                sliderbush.oninput = function() {
                    outputbush.innerHTML = this.value;
                    var img = document.getElementById("img-bush");
                    if (this.value < 10) {
                        img.setAttribute("src","{% static 'images/bush1.png' %}") ;
                    } else if(this.value < 25) {
                        img.setAttribute("src","{% static 'images/bush10.png' %}") ;
                    } else if(this.value < 35) {
                        img.setAttribute("src","{% static 'images/bush25.png' %}") ;
                    } else if(this.value < 50) {
                        img.setAttribute("src","{% static 'images/bush35.png' %}") ;
                    } else if(this.value < 60) {
                        img.setAttribute("src","{% static 'images/bush50.png' %}") ;
                    } else if(this.value < 75) {
                        img.setAttribute("src","{% static 'images/bush60.png' %}") ;
                    } else if(this.value < 80) {
                        img.setAttribute("src","{% static 'images/bush75.png' %}") ;
                    } else if(this.value < 90) {
                        img.setAttribute("src","{% static 'images/bush80.png' %}") ;
                    } else if(this.value < 94) {
                        img.setAttribute("src","{% static 'images/bush90.png' %}") ;
                    } else if(this.value < 97) {
                        img.setAttribute("src","{% static 'images/bush95.png' %}") ;
                    } else {
                        img.setAttribute("src","{% static 'images/bush100.png' %}") ;
                    }
                }
            </script>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.height | as_crispy_field }}
        </div>
    </div>

    <h3>Optional </h3>
        <div class="form-row">
            <div class="form-group col-md-6 mb-0">
                <h4>3. Input weather data manually<a name="inputweather"> here.</a></h4>
                <p>This information could be found in any weather website. See <a href="https://www.worldweatheronline.com/"> worldweatheronline</a></p>
                <!-- Rounded switch-->
                <label class="switch">
                  <input type="checkbox" onchange="myFunction()" name="weathercheck">
                  <span class="slider-round round"></span>
                </label>
            </div>

        </div>

        <!-- Input wether data manually -->
        <div class="form-row" id="weather" style="display:none;">
            <div class="slidecontainer col-md-3 mb-0">
                <strong>Percentage of Cloud Cover</strong>
                <input type="range" min="0" max="100" value="0" class="slider cloud"
                id="myRange-cloud" name="cloudiness" step="5">
                <p>Value: <span id="cloudiness"></span>%</p>
            </div>
            <script>
                var slidercloud = document.getElementById("myRange-cloud");
                var outputcloud = document.getElementById("cloudiness");
                outputcloud.innerHTML = slidercloud.value;

                slidercloud.oninput = function() {
                    outputcloud.innerHTML = this.value;
                }
            </script>
            <div class="form-group col-md-1 mb-0">
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.wind | as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.UV | as_crispy_field }}
            </div>
            <div class="form-group col-md-3 mb-0">
                {{ form.rain | as_crispy_field }}
            </div>

        </div>
        <p style="color:white;">  .</p>

        <div class="form-row">
            <div class="form-group col-md-8 mb-0">
                <h4>Press submit to run the model - it may take several minutes for results to appear.   </h4>
            </div>
            <div class="form-group col-md-4 mb-0">
                <button type="submit" class="btn btn-primary" value="OK" onclick="AlertWindow()">Submit</button>
            </div>
        </div>
</form>
<p>Please note: data submitted is saved for research purposes. </p>

<div class="form-row">
</div>
<div class="form-row">
</div>
 {% endblock %}
